$gradient-color: linear-gradient(
				-184deg,
				#141333 0%,
				#202261 13.3%,
				#543c97 49.21%,
				#6939a1 74.4%
);

$font-open-sans: var(--font-open-sans), sans-serif;

$breakpoint-mobile: 360px;
$breakpoint-tablet: 725px;
$breakpoint-desktop: 1440px;
